<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CRUD{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
            <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/redmond/jquery-ui.css">

            <link rel="stylesheet" href="{{ asset('bundles/lexikcrud/css/crud.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/lexikcrud/css/form-types.css') }}">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span3">
                    {% block sidebar %}
                        {{ block('actions') }}
                        {{ block('filter') }}
                    {% endblock %}
                </div>
                <div class="span9">
                    {% block content %}
                        {{ block('datagrid') }}
                        {{ block('form') }}
                        {{ block('show') }}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

            <script src="{{ asset('bundles/lexikcrud/js/jquery.lxModalbox.js') }}"></script>
            <script src="{{ asset('bundles/lexikcrud/js/jquery.lxModalboxChoiceWidget.js') }}"></script>
            <script src="{{ asset('bundles/lexikcrud/js/jquery.lxAutocompleteWidget.js') }}"></script>
            <script src="{{ asset('bundles/lexikcrud/js/jquery.lxDatepickerWidget.js') }}"></script>
            <script src="{{ asset('bundles/lexikcrud/js/jquery.lxFormPrototype.js') }}"></script>
            <script src="{{ asset('bundles/lexikcrud/js/crudController.js') }}"></script>
        {% endblock %}
    </body>
</html>
