<?php

namespace {{ bundleNamespace }}\Controller;

use Symfony\Component\OptionsResolver\OptionsResolverInterface;

use Lexik\Bundle\CrudBundle\Controller\CrudController;
use Lexik\Bundle\CrudBundle\Routing\Route;

/**
 * {{ entityName }} controller class.
 *
 * @Route("/{{ routePrefix }}", name="{{ routeName }}", serviceId="{{ serviceId }}")
 */
class {{ entityName }}Controller extends CrudController
{
    /**
     * (non-PHPdoc)
     * @see \Lexik\Bundle\CrudBundle\Controller\CrudController::setDefaultOptions()
     */
    protected function setDefaultOptions(OptionsResolverInterface $resolver)
    {
        $resolver->setDefaults(array(
            'form_class_name' => '{{ bundleNamespace }}\Form\{{ entityName }}Type',
        ));
    }
}
