/* Table listing
----------------------------------*/
.lx-listing { margin: 15px 0; }

    .lx-listing .identifier { font-weight: bold; }

    .lx-listing a.sort { display: block; }

    .lx-listing td.center,
    .lx-listing th.center { text-align: center; }

    .lx-listing tbody tr.checked-row td,
    .lx-listing tbody tr.checked-row th { background-color: rgba(141, 192, 219, 0.25); }

    /* batch column */
    .lx-listing .lx-listing-batch-row { width: 20px; text-align: center; }

    /* action column */
    .lx-listing .lx-listing-actions { width: 50px; text-align: center; white-space: nowrap; }
        .lx-listing .lx-listing-actions a { margin: 0 2px; }

    /* batch actions */
    .lx-batch-actions {}
        .lx-batch-actions .inner { padding: 2px; }

    /* pager */
    .lx-pager { display: inline-block; list-style: none; margin: 0; position: relative; top: 5px; }
        .lx-pager li { margin: 0 5px 0 0; float: left; }
        .lx-pager li:last-child { margin-right: 0 !important; }
        .lx-pager a { position: relative; top: 1px; }
        .lx-pager form { display: inline; font-size: .9em; margin: 0; }
            .lx-pager form input { border: 1px solid #C5DBEC; width: 35px; height: 16px; text-align: center; padding: 0; }
        .lx-pager .lx-pager-result-range,
        .lx-pager .lx-pager-nbresults { font-size: .9em; margin-right: 10px; line-height: 20px; }
        .lx-pager .ui-icon-arrowthick-1-w { background-position: -96px -49px; }
        .lx-pager .ui-icon-arrowthick-1-e { background-position: -32px -49px; }

    /* max per page select */
    .lx-listing-max-per-page-select { display: inline-block; margin: 0 15px 0 0; vertical-align:top;}
        .lx-listing-max-per-page-select select { height: auto; line-height: auto; font-size: .9em; }

/* Filters form
----------------------------------*/
.lx-filters.well { padding: 5px; }
    .lx-filters hr { border-color: #ddd; margin: 10px 0; }
    .lx-filters .lx-field-clear { position: absolute; right: 0; bottom: 7px; }
    .lx-filters .actions { margin-top: 10px; padding-left: 0; padding-bottom: 0; text-align: center; }
