/* Lexik widgets UI styles
-------------------------------------------------- */

/* autocomplete */
.lx-widget-autocomplete-choice .lx-widget-autocomplete-choice-search { padding-right: 16px; }

.autocomplete-selected    { background: url(/bundles/lexikcrud/img/autocomplete-selected.png) no-repeat center right; }
.autocomplete-noselection { background: url(/bundles/lexikcrud/img/autocomplete-noselection.png) no-repeat center right; }
.autocomplete-loading     { background: url(/bundles/lexikcrud/img/autocomplete-loading.gif) no-repeat center right; }

.lx-widget-autocomplete-selection-list { list-style: none; margin: 3px 0 0 0; width: 300px; }
    .lx-widget-autocomplete-selection-list li { clear: right; border-bottom: 1px solid whitesmoke; padding: 2px 0; }
.lx-widget-autocomplete-selection-delete { float: right; }

/* datepicker */
.datepicker { background-image: url(/bundles/lexikcrud/img/icons/calendar.png); background-position: right; background-repeat: no-repeat; }

/* date range */
.lx-date-range { position: relative; display: inline-block; margin-right: 5px; }
.lx-date-range-from { margin-bottom: 6px; }
.lx-date-range label { display: inline-block; margin: 0; }

/* modalbox choices */
.lx-widget-modalbox-choice-text { margin-right: 10px; font-weight: bold; }
.lx-widget-modalbox-choice-delete { display: none; margin-right: 10px; }

.loader {
    background: #fff url(/bundles/lexikcrud/img/loader.gif) no-repeat center 100px !important;
    cursor: wait;
    min-height: 100px;
}
