{% macro sort_column(crud_name, sortBy, trans, params, attr) %}
    {% set current_sort = crud_list_param(crud_name, 'sort') %}

    {% set sortOrder = 'asc' %}
    {% if current_sort.0 == sortBy %}
        {% set sortOrder = current_sort.1 == 'asc' ? 'desc' : 'asc' %}
    {% endif %}

    <th {{ _self.render_attr(attr) }}>
        <a href="{{ crud_sort_path(crud_name, sortBy, params|default([])) }}" class="sort {{ sortOrder }}">
            {{ trans|default(sortBy) }}
            {% if current_sort and current_sort.0 == sortBy %}
                <i class="icon-chevron-{{ sortOrder == 'asc' ? 'up' : 'down' }} pull-right"></i>
            {% endif %}
        </a>
    </th>
{% endmacro %}

{% macro render_attr(attr) %}
    {% spaceless %}
        {% for attrname, attrvalue in attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}
    {% endspaceless %}
{% endmacro %}

{% macro form_errors_tooltip(field) %}
{% spaceless %}
    {% if field.vars.errors|length > 0 %}
        <span class="badge badge-error badge-icon">
            <i class="icon-exclamation-sign icon-white"
               title="{% for error in field.vars.errors %}
               {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
               {% endfor %}"
               rel="tooltip"></i>
        </span>
    {% endif %}
{% endspaceless %}
{% endmacro %}
