{% extends base_template %}

{% import 'LexikCrudBundle:CRUD:crud.html.twig' as crud %}

{% block flash_message %}
    {% if form_is_valid is sameas(false) %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">{{ 'flash.form.error' | trans({}, 'LexikCrudBundle') }}</h4>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock flash_message %}

{% block form %}
    <form action="{% block form_action %}{{ object.id ? crud_path(crud_name, 'edit', { 'id': object.id }) : crud_path(crud_name, 'new') }}{% endblock %}" method="post" class="{% block form_style %}form-horizontal{% endblock %}" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {% block form_fields %}
            <fieldset>
                <legend>{{ fieldsetLegend is defined ? fieldsetLegend : 'form.fieldset.default' | trans({}, 'LexikCrudBundle') }}</legend>

                {% for field in form %}
                    {{ form_row(field) }}
                {% endfor %}
            </fieldset>
        {% endblock form_fields %}

        {{ form_rest(form) }}

        {% block form_actions %}
            <div class="form-horizontal clear">
                <div class="form-actions">
                    <a href="{{ crud_path(crud_name, 'list') }}" class="btn">{{ 'form.cancel' | trans({}, 'LexikCrudBundle') }}</a>
                    &nbsp;&nbsp;&nbsp;

                    {% block form_actions_additional %}{% endblock %}

                    {% if object.id is null %}
                        <input type="submit" name="_submit" class="btn btn-primary btn-large" value="{{ 'form.save' | trans({}, 'LexikCrudBundle') }}" />
                    {% else %}
                        <input type="submit" name="_submit_continue" class="btn btn-primary btn-large" value="{{ 'form.save' | trans({}, 'LexikCrudBundle') }}" />
                    {% endif %}
                </div>
            </div>
        {% endblock form_actions %}
    </form>
{% endblock form %}
