{% extends base_template %}

{% import 'LexikCrudBundle:CRUD:crud.html.twig' as crud %}

{% set pagerNbResults = pager.getNbResults %}

{% block actions %}
    {% if crud_is_granted(crud_name, 'NEW') %}
        <p>
            <a href="{{ crud_path(crud_name, 'new') }}" class="btn btn-primary btn-large">
                <i class="icon-plus icon-white"></i>
                {{ 'list.action.new' | trans({}, 'LexikCrudBundle') }}
            </a>
        </p>
    {% endif %}
{% endblock %}

{% block filter %}
    {% if filter is not null %}
        <div class="lx-filters well">
            <form method="get" action="{{ crud_path(crud_name, 'list') }}" class="lx-filter-form">
                {% block filter_widgets %}
                    <h4>{{ 'list.filter.title' | trans({}, 'LexikCrudBundle') }}</h4>

                    {% for field in filter %}
                        {{ form_row(field) }}
                    {% endfor %}
                {% endblock filter_widgets %}

                <hr />

                <div class="actions">
                    <a href="{{ crud_path(crud_name, 'reset') }}" class="btn" title="{{ 'list.filter.reset' | trans({}, 'LexikCrudBundle') }}" rel="tooltip">
                        <i class="icon-repeat hide-text">{{ 'list.filter.reset' | trans({}, 'LexikCrudBundle') }}</i>
                    </a>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-search icon-white"></i>
                        {{ 'list.filter.submit' | trans({}, 'LexikCrudBundle') }}
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block max_per_page_select %}
    <form method="get" class="lx-listing-max-per-page-select">
        <select name="maxPerPage">
            {% for choice in max_per_page_choices %}
                <option value="{{ choice }}" {% if crud_list_param(crud_name, 'max_per_page') == choice %} selected="selected" {% endif%}>
                    {{ 'list.max_per_page_select' | trans({ '%choice%': choice }, 'LexikCrudBundle') }}
                </option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% block datagrid %}
    {% block pager_header %}
        {% if show_pagination and pager | default(null) %}
            <div class="pull-right lx-pagination-top">
                {% if is_xml_http_request is sameas(false) %}
                    {{ block('max_per_page_select') }}
                {% endif %}

                {{ pagerfanta(pager, pagerfanta_view) }}
            </div>
        {% endif %}
    {% endblock pager_header %}

    {% block datagrid_title %}
        <h3 class="lx-datagrid-title">{{ 'list.result.title' | trans({}, 'LexikCrudBundle') }}</h3>
    {% endblock %}

    <div class="clear"></div>

    {% if pagerNbResults %}
        <form method="post" action="{{ crud_path(crud_name, 'batch') }}" class="datagrid">
            {% block datagrid_table %}
                <table class="lx-listing table table-striped table-bordered">
                    <thead>
                        <tr>
                            {% block datagrid_table_thead_batch_actions %}
                                {% if crud_is_granted(crud_name, 'BATCH') and is_xml_http_request is sameas(false) %}
                                    <th class="lx-listing-batch-row">
                                        <input type="checkbox" class="lx-listing-batch-checkbox" />
                                    </th>
                                {% endif %}
                            {% endblock datagrid_table_thead_batch_actions %}
                            {% block datagrid_table_thead %}
                                <th></th>
                            {% endblock datagrid_table_thead %}
                            {% block datagrid_table_thead_actions %}
                                <th></th>
                            {% endblock datagrid_table_thead_actions %}
                        </tr>
                    </thead>
                    <tbody>
                        {% block datagrid_table_tbody_for %}
                            {% for object in pager.getCurrentPageResults %}
                                {% block datagrid_table_tbody_row %}
                                    <tr>
                                        {% block datagrid_table_batch_actions %}
                                            {% if crud_is_granted(crud_name, 'BATCH') and is_xml_http_request is sameas(false) %}
                                                <td class="lx-listing-batch-row">
                                                    <input type="checkbox" name="ids[]" value="{{ object.id }}" class="lx-listing-batch-checkbox" />
                                                </td>
                                            {% endif %}
                                        {% endblock datagrid_table_batch_actions %}

                                        {% block datagrid_table_tbody %}
                                            <td>{{ object }}</td>
                                        {% endblock datagrid_table_tbody %}

                                        {% block datagrid_table_actions %}
                                            <td class="lx-listing-actions">
                                                {% block datagrid_table_actions_inner %}
                                                    {% block datagrid_table_actions_show %}
                                                        {% if crud_is_granted(crud_name, 'SHOW', object) %}
                                                            <a href="{{ crud_path(crud_name, 'show', { 'id': object.id }) }}"
                                                                class="icon-eye-open hide-text"
                                                                rel="tooltip"
                                                                title="{{ 'list.action.show' | trans({}, 'LexikCrudBundle') }}"
                                                                data-dialog="">
                                                                {{ 'list.action.show' | trans({}, 'LexikCrudBundle') }}
                                                            </a>
                                                        {% endif %}
                                                    {% endblock %}

                                                    {% block datagrid_table_actions_edit %}
                                                        {% if crud_is_granted(crud_name, 'EDIT', object) %}
                                                            <a href="{{ crud_path(crud_name, 'edit', { 'id': object.id }) }}"
                                                                class="icon-pencil hide-text"
                                                                rel="tooltip"
                                                                title="{{ 'list.action.edit' | trans({}, 'LexikCrudBundle') }}">
                                                                {{ 'list.action.edit' | trans({}, 'LexikCrudBundle') }}
                                                            </a>
                                                        {% endif %}
                                                    {% endblock %}

                                                    {% block datagrid_table_actions_delete %}
                                                        {% if crud_is_granted(crud_name, 'DELETE', object) and is_xml_http_request is sameas(false) %}
                                                            <a href="{{ crud_path(crud_name, 'delete', { 'id': object.id }) }}"
                                                                class="delete icon-trash hide-text"
                                                                rel="tooltip"
                                                                title="{{ 'list.action.delete' | trans({}, 'LexikCrudBundle') }}"
                                                                data-dialog-title="{{ 'list.action.delete_ask_confirm' | trans({}, 'LexikCrudBundle') }}">
                                                                {{ 'list.action.delete' | trans({}, 'LexikCrudBundle') }}
                                                            </a>
                                                        {% endif %}
                                                    {% endblock %}
                                                {% endblock datagrid_table_actions_inner %}
                                            </td>
                                        {% endblock datagrid_table_actions %}
                                    </tr>
                                {% endblock datagrid_table_tbody_row %}
                            {% endfor %}
                        {% endblock datagrid_table_tbody_for %}
                    </tbody>
                </table>
            {% endblock datagrid_table %}

            {% block batch_action %}
                {% if crud_is_granted(crud_name, 'BATCH') and is_xml_http_request is sameas(false) %}
                    <div class="lx-batch-actions pull-left">
                        <select name="action">
                            <option value=""></option>
                            {% for action, label in batch_actions %}
                                <option value="{{ action }}">{{ label }}</option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn">{{ 'list.batch_action.submit' | trans({}, 'LexikCrudBundle') }}</button>
                    </div>
                {% endif %}
            {% endblock batch_action %}
        </form>

        {% block pager_footer %}
            {% if show_pagination and pager | default(null) %}
                <div class="pull-right lx-pagination-bottom">
                    {% if is_xml_http_request is sameas(false) %}
                        {{ block('max_per_page_select') }}
                    {% endif %}

                    {{ pagerfanta(pager, pagerfanta_view) }}
                </div>
            {% endif %}
        {% endblock pager_footer %}

        <div class="clear"></div>
    {% else %}
        {% block list_no_result %}
            <div class="alert alert-info">
                {% block list_no_result_message %}
                    <h4 class="alert-heading">{{ 'list.no_result'|trans({}, 'LexikCrudBundle') }}</h4>
                {% endblock list_no_result_message %}
            </div>
        {% endblock list_no_result %}
    {% endif %}
{% endblock datagrid %}
