{% extends base_template %}

{% import 'LexikCrudBundle:CRUD:crud.html.twig' as crud %}

{% block show %}
    {% block show_fields %}
        <fieldset>
            <legend>{{ fieldsetLegend is defined ? fieldsetLegend : 'show.fieldset.default' | trans({}, 'LexikCrudBundle') }}</legend>
            <table class="lx-listing">
                <thead>
                    {% block show_table_thead %}
                    {% endblock show_table_thead %}
                </thead>
                <tbody>
                    {% block show_table_tbody %}
                    {% endblock show_table_tbody %}
                </tbody>
                <tfoot>
                    {% block show_table_tfoot %}
                    {% endblock show_table_tfoot %}
                </tfoot>
            </table>
        </fieldset>
    {% endblock show_fields %}

    <div class="clear"></div>

    {% block show_actions %}
        <div class="row row-submit">
            <div class="label lx-tright">
                <a href="{{ crud_path(crud_name, 'list') }}">{{ 'show.action.cancel' | trans({}, 'LexikCrudBundle') }}</a> -
            </div>
        </div>
    {% endblock show_actions %}
{% endblock show %}
