{% block lexik_money_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' money-widget'}) %}

    <div class="input-append">
        {{ block('form_widget_simple') }}
        <span class="add-on">{{ money_pattern|replace({ '{{ widget }}': '' }) }}</span>
    </div>
{% endspaceless %}
{% endblock lexik_money_widget %}

{% block lexik_percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' percent-widget'}) %}

    <div class="input-append">
        {{ block('form_widget_simple') }}
        <span class="add-on">%</span>
    </div>
{% endspaceless %}
{% endblock lexik_percent_widget %}

{% block lexik_date_range_widget %}
{% spaceless %}
    <div class="input-prepend lx-date-range lx-date-range-from">
        <label for="{{ form.from.vars.id }}" class="add-on">&gt;=</label>
        {{ form_widget(form.from, { 'attr': { 'class': 'datepicker input-small' } }) }}
        {{ form_errors(form.from) }}
    </div>

    <div class="input-prepend lx-date-range lx-date-range-to">
        <label for="{{ form.to.vars.id }}" class="add-on">&lt;=</label>
        {{ form_widget(form.to, { 'attr': { 'class': 'datepicker input-small' } }) }}
        {{ form_errors(form.to) }}
    </div>
{% endspaceless %}
{% endblock lexik_date_range_widget %}

{% block lexik_modalbox_choice_widget %}
{% spaceless %}
    <div class="lx-widget-modalbox-choice">
        <div class="lx-widget-modalbox-choice-text lx-in-block">
            {{ block('lexik_modalbox_choice_widget_data') }}
        </div>

        <a href="#" class="lx-widget-modalbox-choice-delete" title="{{ 'widget.modalbox_choice.delete' | trans({}, 'LexikCrudBundle') }}" rel="tooltip">
            <i class="icon-trash hide-text">{{ 'widget.modalbox_choice.delete' | trans({}, 'LexikCrudBundle') }}</i>
        </a>

        <a href="#" data-href="{{ path(route_name, route_params) }}" class="lx-widget-modalbox-choice-select btn btn-small">
            <i class="icon-search"></i>
            {{ 'widget.modalbox_choice.search' | trans({}, 'LexikCrudBundle') }}
        </a>

        {% set type = type|default('hidden') %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' lx-widget-modalbox-choice-field'}) %}
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock lexik_modalbox_choice_widget %}

{% block lexik_modalbox_choice_widget_data %}
    {{ data_label }}
{% endblock lexik_modalbox_choice_widget_data %}

{% block lexik_autocomplete_choice_widget %}

{% macro renderRow(id, entity, full_name) %}
{% spaceless %}
    <li>
        {{ entity }}
        <a href="#" class="lx-widget-autocomplete-selection-delete">
            <span class="ui-icon ui-icon-trash lx-in-block"></span>
        </a>
        <input type="hidden" name="{{ full_name }}" value="{{ id }}" />
    </li>
{% endspaceless %}
{% endmacro %}

{% spaceless %}
    <div class="lx-widget-autocomplete-choice" data-autocomplete-source="{{ path(route_name, route_params) }}"{% if multiple %} data-autocomplete-multiple=""{% endif %}{% for attrname,attrvalue in data_attr %} data-autocomplete-{{attrname}}="{{attrvalue}}"{% endfor %}>
        {% set autocomplete_attr = (attr|default({}))|merge({'class': attr.class|default('') ~ ' lx-widget-autocomplete-choice-search'}) %}
        <input type="text"{% for attrname,attrvalue in autocomplete_attr %} {{attrname}}="{{attrvalue}}"{% endfor %} value="{% if multiple is sameas(false) %}{{ data_label }}{% endif %}" id="{{ id }}_autocomplete" />

        {% if multiple %}
            <ul class="lx-widget-autocomplete-selection-list" data-prototype="{% filter escape %}{{ _self.renderRow('$$id$$', '$$entity$$', full_name) }}{% endfilter %}">
                {% for entity in data %}
                    {{ _self.renderRow(entity.id, data_label[entity.id], full_name) }}
                {% endfor %}
            </ul>
        {% else %}
            {% set type = type|default('hidden') %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' lx-widget-autocomplete-choice-field'}) %}
            {{ block('form_widget_simple') }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock lexik_autocomplete_choice_widget %}
